[submodule ".zsh/zaw"]
	path = .zsh/zaw
	url = https://github.com/zsh-users/zaw.git
[submodule ".zsh/z"]
	path = .zsh/z
	url = https://github.com/rupa/z.git
[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule ".vim/vundle.git"]
	path = .vim/vundle.git
	url = https://github.com/gmarik/vundle.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/sonots/oh-my-zsh.git
[submodule ".tmux/tmux-resurrect"]
	path = .tmux/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule ".tmux/plugins/tmux-resurrect"]
	path = .tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule ".tmux/plugins/tmux-continuum"]
  path = .tmux/plugins/tmux-continuum
  url = https://github.com/tmux-plugins/tmux-continuum
[submodule ".tmux/plugins/tpm"]
  path = .tmux/plugins/tpm
  url = https://github.com/tmux-plugins/tpm
[submodule ".peco/plugins/cool-peco"]
	path = .peco/plugins/cool-peco
	url = https://github.com/ryoppy/cool-peco
[submodule ".vim/Vundle.vim"]
	path = .vim/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
