[submodule ".vim/vundle.git"]
	path = .vim/vundle.git
	url = http://github.com/gmarik/vundle.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:sonots/oh-my-zsh.git
[submodule ".zsh/zaw"]
	path = .zsh/zaw
	url = git@github.com:zsh-users/zaw.git
[submodule ".zsh/z"]
	path = .zsh/z
	url = https://github.com/rupa/z.git
